img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.template {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

p {
  text-align: center;
  margin-right: 240px;
}

body {
  font-family: 'Poppins';font-size: 14px;
  background-color: #f0f2f5;
}

h1{
  font-family: 'Poppins';font-size: 14px;
}

label{
  font-family: 'Poppins';font-size: 14px;
}

.field{
  font-family: 'Poppins';font-size: 14px;
}

#bootstrap-overrides { /* 100+1=101 priority score, yay! */
  border-collapse: collapse;
  border-radius: 7px;
}

.mg-r-10 {
  margin-right: 10px;
}


.chartWrapper {
  width: 100%;
    position: relative;
}

.chartWrapper > canvas {
    position: absolute;
    left: 0;
    top: 0;
    pointer-events:none;
    width: 100%;
}

.chartAreaWrapper {
    overflow-x: scroll;
    width: 100%;
}

#myChart{
  width: 300%;
}

.card-flexibles {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (min-width: 700px) {
  .card-flexibles { grid-template-columns: repeat(2, 1fr); }
}
